body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5680 {
  position:absolute;
  left:0px;
  top:0px;
  width:1805px;
  height:2270px;
}
#u5681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5682 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5683 {
  position:absolute;
  left:300px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5684 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5685 {
  position:absolute;
  left:600px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5686 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5687 {
  position:absolute;
  left:900px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5688 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5689 {
  position:absolute;
  left:1200px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5690 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5691 {
  position:absolute;
  left:1500px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5692 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5693 {
  position:absolute;
  left:0px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5694 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5695 {
  position:absolute;
  left:300px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5696 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5697 {
  position:absolute;
  left:600px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5698 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5699 {
  position:absolute;
  left:900px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5700 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5701 {
  position:absolute;
  left:1200px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5702 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5703 {
  position:absolute;
  left:1500px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5704 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5705 {
  position:absolute;
  left:78px;
  top:97px;
  width:100px;
  height:60px;
}
#u5706 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5707 {
  position:absolute;
  left:78px;
  top:399px;
  width:100px;
  height:60px;
}
#u5708 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5709 {
  position:absolute;
  left:128px;
  top:157px;
  width:0px;
  height:0px;
}
#u5709_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u5709_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u5710 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5711 {
  position:absolute;
  left:178px;
  top:429px;
  width:0px;
  height:0px;
}
#u5711_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:263px;
  height:8px;
}
#u5711_seg1 {
  position:absolute;
  left:255px;
  top:-4px;
  width:8px;
  height:107px;
}
#u5711_seg2 {
  position:absolute;
  left:249px;
  top:88px;
  width:20px;
  height:20px;
}
#u5712 {
  position:absolute;
  left:131px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:88px;
}
#u5713 {
  position:absolute;
  left:343px;
  top:532px;
  width:187px;
  height:88px;
}
#u5714 {
  position:absolute;
  left:2px;
  top:36px;
  width:183px;
  word-wrap:break-word;
}
#u5715 {
  position:absolute;
  left:343px;
  top:576px;
  width:0px;
  height:0px;
}
#u5715_seg0 {
  position:absolute;
  left:-164px;
  top:-4px;
  width:168px;
  height:8px;
}
#u5715_seg1 {
  position:absolute;
  left:-169px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5716 {
  position:absolute;
  left:-132px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
#u5717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5717 {
  position:absolute;
  left:49px;
  top:539px;
  width:130px;
  height:74px;
}
#u5718 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u5719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:83px;
}
#u5719 {
  position:absolute;
  left:1252px;
  top:694px;
  width:182px;
  height:83px;
}
#u5720 {
  position:absolute;
  left:2px;
  top:34px;
  width:178px;
  word-wrap:break-word;
}
#u5721 {
  position:absolute;
  left:530px;
  top:576px;
  width:0px;
  height:0px;
}
#u5721_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:817px;
  height:8px;
}
#u5721_seg1 {
  position:absolute;
  left:809px;
  top:-4px;
  width:8px;
  height:122px;
}
#u5721_seg2 {
  position:absolute;
  left:803px;
  top:103px;
  width:20px;
  height:20px;
}
#u5722 {
  position:absolute;
  left:416px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5723 {
  position:absolute;
  left:1343px;
  top:777px;
  width:0px;
  height:0px;
}
#u5723_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:192px;
}
#u5723_seg1 {
  position:absolute;
  left:-1153px;
  top:184px;
  width:1157px;
  height:8px;
}
#u5723_seg2 {
  position:absolute;
  left:-1158px;
  top:178px;
  width:20px;
  height:20px;
}
#u5724 {
  position:absolute;
  left:-532px;
  top:180px;
  width:100px;
  word-wrap:break-word;
}
#u5725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:67px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5725 {
  position:absolute;
  left:67px;
  top:931px;
  width:123px;
  height:67px;
}
#u5726 {
  position:absolute;
  left:2px;
  top:26px;
  width:119px;
  word-wrap:break-word;
}
#u5727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5727 {
  position:absolute;
  left:49px;
  top:703px;
  width:130px;
  height:74px;
}
#u5728 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u5729 {
  position:absolute;
  left:1252px;
  top:736px;
  width:0px;
  height:0px;
}
#u5729_seg0 {
  position:absolute;
  left:-1066px;
  top:-4px;
  width:1066px;
  height:8px;
}
#u5729_seg1 {
  position:absolute;
  left:-1066px;
  top:-4px;
  width:8px;
  height:12px;
}
#u5729_seg2 {
  position:absolute;
  left:-1073px;
  top:0px;
  width:15px;
  height:8px;
}
#u5729_seg3 {
  position:absolute;
  left:-1078px;
  top:-6px;
  width:20px;
  height:20px;
}
#u5730 {
  position:absolute;
  left:-588px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5731 {
  position:absolute;
  left:129px;
  top:998px;
  width:0px;
  height:0px;
}
#u5731_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:100px;
}
#u5731_seg1 {
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:20px;
}
#u5732 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5733 {
  position:absolute;
  left:49px;
  top:1094px;
  width:159px;
  height:77px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:30px;
  width:155px;
  word-wrap:break-word;
}
#u5735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:84px;
}
#u5735 {
  position:absolute;
  left:49px;
  top:1246px;
  width:159px;
  height:84px;
}
#u5736 {
  position:absolute;
  left:2px;
  top:34px;
  width:155px;
  word-wrap:break-word;
}
#u5737 {
  position:absolute;
  left:129px;
  top:1171px;
  width:0px;
  height:0px;
}
#u5737_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u5737_seg1 {
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u5738 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5739 {
  position:absolute;
  left:129px;
  top:1330px;
  width:0px;
  height:0px;
}
#u5739_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u5739_seg1 {
  position:absolute;
  left:-4px;
  top:116px;
  width:568px;
  height:8px;
}
#u5739_seg2 {
  position:absolute;
  left:549px;
  top:110px;
  width:20px;
  height:20px;
}
#u5740 {
  position:absolute;
  left:172px;
  top:112px;
  width:100px;
  word-wrap:break-word;
}
#u5741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:84px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5741 {
  position:absolute;
  left:693px;
  top:1408px;
  width:125px;
  height:84px;
}
#u5742 {
  position:absolute;
  left:2px;
  top:34px;
  width:121px;
  word-wrap:break-word;
}
#u5743 {
  position:absolute;
  left:818px;
  top:1450px;
  width:0px;
  height:0px;
}
#u5743_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u5743_seg1 {
  position:absolute;
  left:134px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5744 {
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:72px;
}
#u5745 {
  position:absolute;
  left:967px;
  top:1414px;
  width:156px;
  height:72px;
}
#u5746 {
  position:absolute;
  left:2px;
  top:28px;
  width:152px;
  word-wrap:break-word;
}
#u5747 {
  position:absolute;
  left:1045px;
  top:1486px;
  width:0px;
  height:0px;
}
#u5747_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u5747_seg1 {
  position:absolute;
  left:-293px;
  top:87px;
  width:297px;
  height:8px;
}
#u5747_seg2 {
  position:absolute;
  left:-293px;
  top:6px;
  width:8px;
  height:89px;
}
#u5747_seg3 {
  position:absolute;
  left:-299px;
  top:0px;
  width:20px;
  height:21px;
}
#u5748 {
  position:absolute;
  left:-192px;
  top:83px;
  width:100px;
  word-wrap:break-word;
}
#u5749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5749 {
  position:absolute;
  left:401px;
  top:1258px;
  width:100px;
  height:60px;
}
#u5750 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5751 {
  position:absolute;
  left:208px;
  top:1288px;
  width:0px;
  height:0px;
}
#u5751_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u5751_seg1 {
  position:absolute;
  left:178px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5752 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:72px;
}
#u5753 {
  position:absolute;
  left:1279px;
  top:1414px;
  width:156px;
  height:72px;
}
#u5754 {
  position:absolute;
  left:2px;
  top:28px;
  width:152px;
  word-wrap:break-word;
}
#u5755 {
  position:absolute;
  left:1123px;
  top:1450px;
  width:0px;
  height:0px;
}
#u5755_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u5755_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5756 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5757 {
  position:absolute;
  left:1357px;
  top:1414px;
  width:0px;
  height:0px;
}
#u5757_seg0 {
  position:absolute;
  left:-4px;
  top:-28px;
  width:8px;
  height:28px;
}
#u5757_seg1 {
  position:absolute;
  left:-605px;
  top:-28px;
  width:609px;
  height:8px;
}
#u5757_seg2 {
  position:absolute;
  left:-605px;
  top:-28px;
  width:8px;
  height:22px;
}
#u5757_seg3 {
  position:absolute;
  left:-611px;
  top:-21px;
  width:20px;
  height:20px;
}
#u5758 {
  position:absolute;
  left:-348px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
}
#u5759 {
  position:absolute;
  left:1357px;
  top:1486px;
  width:0px;
  height:0px;
}
#u5759_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:118px;
}
#u5759_seg1 {
  position:absolute;
  left:-4px;
  top:110px;
  width:9px;
  height:8px;
}
#u5759_seg2 {
  position:absolute;
  left:-3px;
  top:110px;
  width:8px;
  height:21px;
}
#u5759_seg3 {
  position:absolute;
  left:-9px;
  top:116px;
  width:20px;
  height:20px;
}
#u5760 {
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u5761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:93px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5761 {
  position:absolute;
  left:1287px;
  top:1617px;
  width:141px;
  height:93px;
}
#u5762 {
  position:absolute;
  left:2px;
  top:38px;
  width:137px;
  word-wrap:break-word;
}
#u5763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5764 {
  position:absolute;
  left:2943px;
  top:27px;
  width:435px;
  height:4px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5765 {
  position:absolute;
  left:20px;
  top:-6px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5766 {
  position:fixed;
  right:50px;
  bottom:50px;
}
#u5766_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5766_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u5768 {
  position:absolute;
  left:1px;
  top:1px;
  width:38px;
  height:38px;
  color:#FF0000;
}
#u5769 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:114px;
}
#u5770 {
  position:absolute;
  left:22px;
  top:203px;
  width:211px;
  height:114px;
}
#u5771 {
  position:absolute;
  left:2px;
  top:49px;
  width:207px;
  word-wrap:break-word;
}
#u5772 {
  position:absolute;
  left:128px;
  top:317px;
  width:0px;
  height:0px;
}
#u5772_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u5772_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u5773 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u5774 {
  position:absolute;
  left:233px;
  top:260px;
  width:0px;
  height:0px;
}
#u5774_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:158px;
  height:8px;
}
#u5774_seg1 {
  position:absolute;
  left:139px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5775 {
  position:absolute;
  left:27px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5776 {
  position:absolute;
  left:387px;
  top:230px;
  width:100px;
  height:60px;
}
#u5777 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
