body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4645 {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:1043px;
}
#u4646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u4646 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u4647 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u4648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u4648 {
  position:absolute;
  left:300px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u4649 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u4650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u4650 {
  position:absolute;
  left:600px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u4651 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u4652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:958px;
}
#u4652 {
  position:absolute;
  left:0px;
  top:80px;
  width:300px;
  height:958px;
  text-align:center;
}
#u4653 {
  position:absolute;
  left:2px;
  top:471px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:958px;
}
#u4654 {
  position:absolute;
  left:300px;
  top:80px;
  width:300px;
  height:958px;
  text-align:center;
}
#u4655 {
  position:absolute;
  left:2px;
  top:471px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:958px;
}
#u4656 {
  position:absolute;
  left:600px;
  top:80px;
  width:300px;
  height:958px;
  text-align:center;
}
#u4657 {
  position:absolute;
  left:2px;
  top:471px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4658 {
  position:absolute;
  left:78px;
  top:97px;
  width:100px;
  height:60px;
}
#u4659 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4660 {
  position:absolute;
  left:78px;
  top:238px;
  width:100px;
  height:60px;
}
#u4661 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4662 {
  position:absolute;
  left:128px;
  top:157px;
  width:0px;
  height:0px;
}
#u4662_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u4662_seg1 {
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:20px;
}
#u4663 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4664 {
  position:absolute;
  left:178px;
  top:268px;
  width:0px;
  height:0px;
}
#u4664_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:277px;
  height:8px;
}
#u4664_seg1 {
  position:absolute;
  left:269px;
  top:-4px;
  width:8px;
  height:107px;
}
#u4664_seg2 {
  position:absolute;
  left:263px;
  top:88px;
  width:20px;
  height:20px;
}
#u4665 {
  position:absolute;
  left:138px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:88px;
}
#u4666 {
  position:absolute;
  left:357px;
  top:371px;
  width:187px;
  height:88px;
}
#u4667 {
  position:absolute;
  left:2px;
  top:36px;
  width:183px;
  word-wrap:break-word;
}
#u4668 {
  position:absolute;
  left:357px;
  top:415px;
  width:0px;
  height:0px;
}
#u4668_seg0 {
  position:absolute;
  left:-164px;
  top:-4px;
  width:168px;
  height:8px;
}
#u4668_seg1 {
  position:absolute;
  left:-169px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4669 {
  position:absolute;
  left:-132px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
#u4670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4670 {
  position:absolute;
  left:63px;
  top:378px;
  width:130px;
  height:74px;
}
#u4671 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u4672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:83px;
}
#u4672 {
  position:absolute;
  left:680px;
  top:537px;
  width:182px;
  height:83px;
}
#u4673 {
  position:absolute;
  left:2px;
  top:34px;
  width:178px;
  word-wrap:break-word;
}
#u4674 {
  position:absolute;
  left:544px;
  top:415px;
  width:0px;
  height:0px;
}
#u4674_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:231px;
  height:8px;
}
#u4674_seg1 {
  position:absolute;
  left:223px;
  top:-4px;
  width:8px;
  height:126px;
}
#u4674_seg2 {
  position:absolute;
  left:217px;
  top:107px;
  width:20px;
  height:20px;
}
#u4675 {
  position:absolute;
  left:124px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4676 {
  position:absolute;
  left:771px;
  top:620px;
  width:0px;
  height:0px;
}
#u4676_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:188px;
}
#u4676_seg1 {
  position:absolute;
  left:-581px;
  top:180px;
  width:585px;
  height:8px;
}
#u4676_seg2 {
  position:absolute;
  left:-586px;
  top:174px;
  width:20px;
  height:20px;
}
#u4677 {
  position:absolute;
  left:-248px;
  top:176px;
  width:100px;
  word-wrap:break-word;
}
#u4678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:67px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4678 {
  position:absolute;
  left:67px;
  top:770px;
  width:123px;
  height:67px;
}
#u4679 {
  position:absolute;
  left:2px;
  top:18px;
  width:119px;
  word-wrap:break-word;
}
#u4680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4680 {
  position:absolute;
  left:63px;
  top:542px;
  width:130px;
  height:74px;
}
#u4681 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u4682 {
  position:absolute;
  left:680px;
  top:579px;
  width:0px;
  height:0px;
}
#u4682_seg0 {
  position:absolute;
  left:-487px;
  top:-4px;
  width:491px;
  height:8px;
}
#u4682_seg1 {
  position:absolute;
  left:-492px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4683 {
  position:absolute;
  left:-294px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4684 {
  position:absolute;
  left:79px;
  top:908px;
  width:100px;
  height:60px;
}
#u4685 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4686 {
  position:absolute;
  left:129px;
  top:837px;
  width:0px;
  height:0px;
}
#u4686_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u4686_seg1 {
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u4687 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4689 {
  position:absolute;
  left:29px;
  top:17px;
  width:435px;
  height:4px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4690 {
  position:absolute;
  left:20px;
  top:-6px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691 {
  position:fixed;
  right:50px;
  bottom:50px;
}
#u4691_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4691_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u4693 {
  position:absolute;
  left:1px;
  top:1px;
  width:38px;
  height:38px;
  color:#FF0000;
}
#u4694 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
