body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1951px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5568 {
  position:absolute;
  left:0px;
  top:0px;
  width:1805px;
  height:2270px;
}
#u5569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5569 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5570 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5571 {
  position:absolute;
  left:300px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5572 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5573 {
  position:absolute;
  left:600px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5574 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5575 {
  position:absolute;
  left:900px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5576 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5577 {
  position:absolute;
  left:1200px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5578 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u5579 {
  position:absolute;
  left:1500px;
  top:0px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u5580 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u5581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5581 {
  position:absolute;
  left:0px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5582 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5583 {
  position:absolute;
  left:300px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5584 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5585 {
  position:absolute;
  left:600px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5586 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5587 {
  position:absolute;
  left:900px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5588 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5589 {
  position:absolute;
  left:1200px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5590 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2185px;
}
#u5591 {
  position:absolute;
  left:1500px;
  top:80px;
  width:300px;
  height:2185px;
  text-align:center;
}
#u5592 {
  position:absolute;
  left:2px;
  top:1084px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5593 {
  position:absolute;
  left:95px;
  top:96px;
  width:100px;
  height:60px;
}
#u5594 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u5595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5595 {
  position:absolute;
  left:95px;
  top:444px;
  width:100px;
  height:60px;
}
#u5596 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5597 {
  position:absolute;
  left:95px;
  top:474px;
  width:0px;
  height:0px;
}
#u5597_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u5597_seg1 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:110px;
}
#u5597_seg2 {
  position:absolute;
  left:-43px;
  top:91px;
  width:20px;
  height:20px;
}
#u5598 {
  position:absolute;
  left:-83px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:88px;
}
#u5599 {
  position:absolute;
  left:374px;
  top:842px;
  width:187px;
  height:88px;
}
#u5600 {
  position:absolute;
  left:2px;
  top:36px;
  width:183px;
  word-wrap:break-word;
}
#u5601 {
  position:absolute;
  left:374px;
  top:886px;
  width:0px;
  height:0px;
}
#u5601_seg0 {
  position:absolute;
  left:-164px;
  top:-4px;
  width:168px;
  height:8px;
}
#u5601_seg1 {
  position:absolute;
  left:-169px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5602 {
  position:absolute;
  left:-132px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
#u5603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5603 {
  position:absolute;
  left:80px;
  top:849px;
  width:130px;
  height:74px;
}
#u5604 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u5605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:83px;
}
#u5605 {
  position:absolute;
  left:1265px;
  top:987px;
  width:182px;
  height:83px;
}
#u5606 {
  position:absolute;
  left:2px;
  top:34px;
  width:178px;
  word-wrap:break-word;
}
#u5607 {
  position:absolute;
  left:561px;
  top:886px;
  width:0px;
  height:0px;
}
#u5607_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:799px;
  height:8px;
}
#u5607_seg1 {
  position:absolute;
  left:791px;
  top:-4px;
  width:8px;
  height:105px;
}
#u5607_seg2 {
  position:absolute;
  left:785px;
  top:86px;
  width:20px;
  height:20px;
}
#u5608 {
  position:absolute;
  left:398px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5609 {
  position:absolute;
  left:1356px;
  top:1070px;
  width:0px;
  height:0px;
}
#u5609_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:148px;
}
#u5609_seg1 {
  position:absolute;
  left:-1154px;
  top:140px;
  width:1158px;
  height:8px;
}
#u5609_seg2 {
  position:absolute;
  left:-1159px;
  top:134px;
  width:20px;
  height:20px;
}
#u5610 {
  position:absolute;
  left:-555px;
  top:136px;
  width:100px;
  word-wrap:break-word;
}
#u5611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:67px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5611 {
  position:absolute;
  left:79px;
  top:1180px;
  width:123px;
  height:67px;
}
#u5612 {
  position:absolute;
  left:2px;
  top:26px;
  width:119px;
  word-wrap:break-word;
}
#u5613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:74px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5613 {
  position:absolute;
  left:88px;
  top:992px;
  width:130px;
  height:74px;
}
#u5614 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u5615 {
  position:absolute;
  left:1265px;
  top:1029px;
  width:0px;
  height:0px;
}
#u5615_seg0 {
  position:absolute;
  left:-1047px;
  top:-4px;
  width:1051px;
  height:8px;
}
#u5615_seg1 {
  position:absolute;
  left:-1052px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5616 {
  position:absolute;
  left:-574px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5617 {
  position:absolute;
  left:141px;
  top:1247px;
  width:0px;
  height:0px;
}
#u5617_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u5617_seg1 {
  position:absolute;
  left:-10px;
  top:75px;
  width:20px;
  height:20px;
}
#u5618 {
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:114px;
}
#u5619 {
  position:absolute;
  left:39px;
  top:243px;
  width:211px;
  height:114px;
}
#u5620 {
  position:absolute;
  left:2px;
  top:49px;
  width:207px;
  word-wrap:break-word;
}
#u5621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:77px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5621 {
  position:absolute;
  left:61px;
  top:1337px;
  width:159px;
  height:77px;
}
#u5622 {
  position:absolute;
  left:2px;
  top:30px;
  width:155px;
  word-wrap:break-word;
}
#u5623 {
  position:absolute;
  left:145px;
  top:357px;
  width:0px;
  height:0px;
}
#u5623_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u5623_seg1 {
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:20px;
}
#u5624 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u5625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:84px;
}
#u5625 {
  position:absolute;
  left:61px;
  top:1489px;
  width:159px;
  height:84px;
}
#u5626 {
  position:absolute;
  left:2px;
  top:34px;
  width:155px;
  word-wrap:break-word;
}
#u5627 {
  position:absolute;
  left:141px;
  top:1414px;
  width:0px;
  height:0px;
}
#u5627_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u5627_seg1 {
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u5628 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5629 {
  position:absolute;
  left:141px;
  top:1573px;
  width:0px;
  height:0px;
}
#u5629_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u5629_seg1 {
  position:absolute;
  left:-4px;
  top:116px;
  width:568px;
  height:8px;
}
#u5629_seg2 {
  position:absolute;
  left:549px;
  top:110px;
  width:20px;
  height:20px;
}
#u5630 {
  position:absolute;
  left:172px;
  top:112px;
  width:100px;
  word-wrap:break-word;
}
#u5631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:84px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5631 {
  position:absolute;
  left:705px;
  top:1651px;
  width:125px;
  height:84px;
}
#u5632 {
  position:absolute;
  left:2px;
  top:34px;
  width:121px;
  word-wrap:break-word;
}
#u5633 {
  position:absolute;
  left:830px;
  top:1693px;
  width:0px;
  height:0px;
}
#u5633_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u5633_seg1 {
  position:absolute;
  left:134px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5634 {
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:72px;
}
#u5635 {
  position:absolute;
  left:979px;
  top:1657px;
  width:156px;
  height:72px;
}
#u5636 {
  position:absolute;
  left:2px;
  top:28px;
  width:152px;
  word-wrap:break-word;
}
#u5637 {
  position:absolute;
  left:1057px;
  top:1729px;
  width:0px;
  height:0px;
}
#u5637_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u5637_seg1 {
  position:absolute;
  left:-293px;
  top:87px;
  width:297px;
  height:8px;
}
#u5637_seg2 {
  position:absolute;
  left:-293px;
  top:6px;
  width:8px;
  height:89px;
}
#u5637_seg3 {
  position:absolute;
  left:-299px;
  top:0px;
  width:20px;
  height:21px;
}
#u5638 {
  position:absolute;
  left:-192px;
  top:84px;
  width:100px;
  word-wrap:break-word;
}
#u5639 {
  position:absolute;
  left:250px;
  top:300px;
  width:0px;
  height:0px;
}
#u5639_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:128px;
  height:8px;
}
#u5639_seg1 {
  position:absolute;
  left:109px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5640 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5641 {
  position:absolute;
  left:413px;
  top:1501px;
  width:100px;
  height:60px;
}
#u5642 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5643 {
  position:absolute;
  left:220px;
  top:1531px;
  width:0px;
  height:0px;
}
#u5643_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u5643_seg1 {
  position:absolute;
  left:178px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5644 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:72px;
}
#u5645 {
  position:absolute;
  left:1291px;
  top:1657px;
  width:156px;
  height:72px;
}
#u5646 {
  position:absolute;
  left:2px;
  top:28px;
  width:152px;
  word-wrap:break-word;
}
#u5647 {
  position:absolute;
  left:1135px;
  top:1693px;
  width:0px;
  height:0px;
}
#u5647_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u5647_seg1 {
  position:absolute;
  left:141px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5648 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5649 {
  position:absolute;
  left:1369px;
  top:1657px;
  width:0px;
  height:0px;
}
#u5649_seg0 {
  position:absolute;
  left:-4px;
  top:-97px;
  width:8px;
  height:97px;
}
#u5649_seg1 {
  position:absolute;
  left:-605px;
  top:-97px;
  width:609px;
  height:8px;
}
#u5649_seg2 {
  position:absolute;
  left:-605px;
  top:-97px;
  width:8px;
  height:91px;
}
#u5649_seg3 {
  position:absolute;
  left:-611px;
  top:-21px;
  width:20px;
  height:20px;
}
#u5650 {
  position:absolute;
  left:-348px;
  top:-100px;
  width:100px;
  word-wrap:break-word;
}
#u5651 {
  position:absolute;
  left:1369px;
  top:1729px;
  width:0px;
  height:0px;
}
#u5651_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:125px;
}
#u5651_seg1 {
  position:absolute;
  left:-4px;
  top:117px;
  width:9px;
  height:8px;
}
#u5651_seg2 {
  position:absolute;
  left:-3px;
  top:117px;
  width:8px;
  height:14px;
}
#u5651_seg3 {
  position:absolute;
  left:-9px;
  top:116px;
  width:20px;
  height:20px;
}
#u5652 {
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u5653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:93px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5653 {
  position:absolute;
  left:1299px;
  top:1860px;
  width:141px;
  height:93px;
}
#u5654 {
  position:absolute;
  left:2px;
  top:38px;
  width:137px;
  word-wrap:break-word;
}
#u5655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5655 {
  position:absolute;
  left:12px;
  top:580px;
  width:100px;
  height:60px;
}
#u5656 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u5657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5657 {
  position:absolute;
  left:179px;
  top:580px;
  width:100px;
  height:60px;
}
#u5658 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5659 {
  position:absolute;
  left:195px;
  top:474px;
  width:0px;
  height:0px;
}
#u5659_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u5659_seg1 {
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:110px;
}
#u5659_seg2 {
  position:absolute;
  left:24px;
  top:91px;
  width:20px;
  height:20px;
}
#u5660 {
  position:absolute;
  left:-16px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5661 {
  position:absolute;
  left:95px;
  top:707px;
  width:100px;
  height:60px;
}
#u5662 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5663 {
  position:absolute;
  left:62px;
  top:640px;
  width:0px;
  height:0px;
}
#u5663_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u5663_seg1 {
  position:absolute;
  left:-4px;
  top:93px;
  width:37px;
  height:8px;
}
#u5663_seg2 {
  position:absolute;
  left:18px;
  top:87px;
  width:20px;
  height:20px;
}
#u5664 {
  position:absolute;
  left:-50px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5665 {
  position:absolute;
  left:229px;
  top:640px;
  width:0px;
  height:0px;
}
#u5665_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u5665_seg1 {
  position:absolute;
  left:-34px;
  top:93px;
  width:38px;
  height:8px;
}
#u5665_seg2 {
  position:absolute;
  left:-39px;
  top:87px;
  width:20px;
  height:20px;
}
#u5666 {
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
}
#u5667 {
  position:absolute;
  left:145px;
  top:767px;
  width:0px;
  height:0px;
}
#u5667_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u5667_seg1 {
  position:absolute;
  left:-4px;
  top:59px;
  width:331px;
  height:8px;
}
#u5667_seg2 {
  position:absolute;
  left:319px;
  top:59px;
  width:8px;
  height:16px;
}
#u5667_seg3 {
  position:absolute;
  left:313px;
  top:60px;
  width:20px;
  height:20px;
}
#u5668 {
  position:absolute;
  left:86px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5670 {
  position:absolute;
  left:1516px;
  top:17px;
  width:435px;
  height:4px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5671 {
  position:absolute;
  left:20px;
  top:-6px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672 {
  position:fixed;
  right:50px;
  bottom:50px;
}
#u5672_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5672_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u5674 {
  position:absolute;
  left:1px;
  top:1px;
  width:38px;
  height:38px;
  color:#FF0000;
}
#u5675 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676 {
  position:absolute;
  left:145px;
  top:156px;
  width:0px;
  height:0px;
}
#u5676_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u5676_seg1 {
  position:absolute;
  left:-10px;
  top:72px;
  width:20px;
  height:20px;
}
#u5677 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  position:absolute;
  left:374px;
  top:270px;
  width:100px;
  height:60px;
}
#u5679 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
